* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-align: center;
    color: #e2e1e0;
    background: #6a5e7e;
}

.container{
    min-height: 250px;
}

.my_projects {
    display: block;
    left: 20px;
    background-color: #9c87b9;
}

.my_projects a{
    color:#e2e1e0;
}

#mailme{
    color: rgb(174, 0, 255);
}

img{
    width: 61%;
    height: 10%;
}